/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;


}
@media only screen and (min-width: 375px) and (device-height:812px){
    html {
        font-size: 25px !important;
    }

}


@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */

}



/**ipad**/
@media only screen and (min-width:768px){
  body{
    font-size: 30px;
  }
  #btn{
   
    left: 43% !important;
}
}

@media screen and (min-width:1024px){
  body{
    font-size: 30px !important;
  }


}
img{border:none}
a {
  color: #b4d7a8;
  text-decoration: none;
}

.bg{
  position: absolute;
    background: url(../images/bg_msg.png) no-repeat fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

#btn{
    position: absolute;
    background-image: url(../images/confirm.png);
    background-size: 100%;
    background-position: 0 0;
    width: 85px;
    height: 33px;
    /*top: 49%;*/
    bottom: 45%;
    left: 38%;
}
#btn:active{
    background-image: url(../images/confirm.png);
    background-position: 0 -33px;

}
